.agenda-container {
    background-color: $color-neutral-70;
    border-top: 1px solid $color-secondary-50;

    h3 {
        background: $color-secondary-50;
        color: $black;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 5px 5px 6px 5px;
        font-weight: bold;
    }

    @media (min-width: $breakpoint-30) {
      @include grid(48);
    }

    @media (min-width: $breakpoint-40) {
      @include grid(15);
      position: absolute;
      top: 0;
      bottom: 20px;
      right: 0;
    }
}

.agenda-list {
    padding: 20px;

    h4,
    .simcal-day-label {
        // Ugly CSS because Simple Calendar works with inline styling.
        color: $color-secondary-50;
        font-size: 0.75rem;
        border-bottom: 1px solid #4a4b4e !important;
        text-transform: uppercase;

        > span {
            color: $color-secondary-50 !important;
            background: none !important;
        }
    }

    .simcal-event-details p {
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        li {
            list-style-type: none;
            color: $white;
            font-size: 0.75rem;
        }
    }

    &.events {

    }
}

.agenda-list-events {
    border-top: 1px solid $color-neutral-50;

    h3 {
        background-color: $color-neutral-50;
    }

    h4 {
        color: $color-neutral-50;
    }

    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        li {
            list-style-type: none;
            color: $white;
            font-size: 0.75rem;
        }
    }
}
