.navigation {
    margin: 0;
    padding: 50px;
    padding-top: 120px;
    display: none;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    background: $black;
    text-align: center;
    position: absolute;
    z-index: 100;
    height: 100vh;

    li {
        display: block;
        vertical-align: middle;
        list-style-type: none;
        margin-bottom: 1rem;

        a {
            color: $white;
            font-size: 20px;
            font-weight: bold;

            &.active,
            &:hover {
                color: $color-primary-30;
            }
        }

        &.nav-cta a:hover{
            color: $white;
        }
    }

    @media (min-width: $breakpoint-40) {
        background: none;
        margin-left: 50px;
        padding: 0;
        top: 55px;
        right: auto;
        left: auto;
        display: inline-block;
        text-align: left;
        height: auto;

        li {
            display: inline-block;
            margin-right: 30px;
        }
    }

    @media (min-width: $breakpoint-50) {
        li {
            margin-right: 40px;

            &.nav-cta {
                margin-left: 80px;
            }
        }
    }
}

.navigation-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;

    .navigation-desc {
        display: inline-block;
        color: $white;
        font-weight: bold;
        margin-right: 5px;
    }

    @media (min-width: $breakpoint-40) {
        display: none;
    }
}

.navigation-symbol {
    display: inline-block;
    vertical-align: middle;

    span {
        height: 4px;
        width: 18px;
        display: block;
        background-color: $white;
        margin-bottom: 3px;
        transition: all 0.3s linear;
    }

    &.nav-open {
        vertical-align: top;

        span {
            &:nth-child(1),
            &:nth-child(3){
                transform: translate(0px, 11px) rotate(-45deg) scalex(1.3);
                margin: 0;
            }
            &:nth-child(2){
                height: 0;
                margin: 0;
            }
            &:nth-child(3){
                transform: translate(0px, 7px) rotate(45deg) scalex(1.3);
            }
        }
    }
}

.subnavigation {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    border-radius: $border-radius-20;
    width: 100%;

    li {
        list-style-type: none;
        display: block;
        border-bottom: 1px solid #32363b;
        font-weight: bold;

        a {
            color: $white;
            padding: 0.5rem 0.9rem 0.4rem 0.9rem;
            display: block;
            background: #282a2f;
            font-size: 0.95rem;

            &:hover {
                background: #646877;
            }

            &.active {
                box-shadow: inset 3px 0px 0px 0px $color-primary-30;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            border-top: 1px solid #32363b;
        }
    }

    @media (min-width: $breakpoint-10) {
        padding: 0;
    }
}

.subnav-container {
    background: #282a2f;
    border-top: 1px solid #32363b;

    h3 {
        background: #646877;
        color: $black;
        display: inline-block;
        font-size: 0.8rem;
        padding: 5px 5px 6px 5px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    @media (min-width: $breakpoint-20) {
        @include grid(12, 0, 1);
    }
}
