.news-container {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;

    @media (min-width: $breakpoint-10) {
        padding: 0;
    }
}

.news-container-full {
    position: relative;
    overflow: hidden;

    @media (min-width: $breakpoint-10) {
        padding: 0;
        @include grid(48, 5);
    }
}

.news-container-two-third {
    @media (min-width: $breakpoint-30) {
        @include grid(48);
    }

    @media (min-width: $breakpoint-40) {
        @include grid(33);
    }
}

.news-block {
    min-height: 15rem;
    margin-bottom: 20px;
    background-color: $color-neutral-70;
    position: relative;
    color: $white;

    &:nth-child(-n+2) {
        border-top: 1px solid $color-primary-30;
    }

    &.filler {
        display: none;

        @media (min-width: $breakpoint-40) {
            display: block;
        }
    }

    h3 {
        background: $color-primary-30;
        color: $black;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 5px 5px 6px 5px;
        font-weight: bold;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: $breakpoint-30) {
        width: 48.958335%;
        float: left;

        &:nth-child(odd) {
            margin-right: 2.08333%;
        }
    }

    @media (min-width: $breakpoint-40) {
        @include grid(24, 0, 1);
    }
}

.news-block-content {
    z-index: 99;
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
}

.news-block-bg {
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.news-date {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 12px;
}

.news-archive-list {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

.relevant-game-reports {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
