.social-media {
    position: absolute;
    right: auto;
    top: 25px;
    left: 0;
    z-index: 1000;
    display: none;

    ul {
        margin: 0;
        padding: 7px;

        li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px;

            img {
                vertical-align: middle;
                height: 25px;
                width: 25px;
                border-radius: 3px;
            }
        }

        a {
            color: $white;
            font-size: 16px;

            i {
                top: 1px;
                position: relative;
            }

            &.twitter:hover {
                color: #4099FF;
            }

            &.facebook:hover {
                color: #3b5998;
            }
        }
    }
}

.sm-footer {
    margin: 0;
    padding: 0;
    margin: 20px 0;
    text-align: center;

    li {
        list-style-type: none;
        display: inline-block;
        margin: 0 10px;

        img {
            vertical-align: middle;
            height: 25px;
            width: 25px;
            border-radius: 3px;
        }
    }

    a {
        color: $white;
        font-size: 16px;

        i {
            top: 1px;
            position: relative;
        }

        &.twitter:hover {
            color: #4099FF;
        }

        &.facebook:hover {
            color: #3b5998;
        }
    }

    @media (min-width: $breakpoint-10) {
        float: right;
        text-align: left;
    }
}
