.sponsorships {
    border-top: 1px solid $color-neutral-50;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h3 {
        background: $color-neutral-50;
        color: $black;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 5px 5px 6px 5px;
        font-weight: bold;
    }
}

.sponsorships-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;

    li {
        height: 50px;
        vertical-align: top;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;

        a {
            display: block;
        }

        img {
            vertical-align: middle;
        }

        @media (min-width: $breakpoint-10) {
            width: 15%;
            margin-right: 3rem;
            display: inline-block;
            text-align: left;
        }
    }
}
